/* ====================
    Font styles START
    =================== */

/* Import font styles from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Font Body Text CSS Class */
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
/* Font Menu Text CSS Classes */
.encode-sans-condensed-thin {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .encode-sans-condensed-extralight {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .encode-sans-condensed-light {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .encode-sans-condensed-regular {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .encode-sans-condensed-medium {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .encode-sans-condensed-semibold {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .encode-sans-condensed-bold {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .encode-sans-condensed-extrabold {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .encode-sans-condensed-black {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
/* =================
    Font styles END
   ================= */

/* ==================
   Link Styles START
   ================== */

   a{
     text-decoration: none;
     color: #618461
   }

   a:hover{
    color: #264326
   }

/* =============
   Link Styles END
   ================ */

/* ================
   HR Styles START
   ================ */

   hr.new1 {
    border-top: 1.5px solid rgb(36, 74, 42);
   }

   hr.new2 {
    border-top: 1px dashed rgb(36, 74, 42);
   }

   hr.new3 {
    border-top: 1px dotted rgb(36, 74, 42);
   }

   hr.new4 {
    height: 2px;
    border: 0;
    background: rgb(36, 74, 42);
   }

   hr.new5 {
    height: 1.5px;
    border: 0;
    background: rgb(36, 74, 42);
    border-radius: 10px;
   }

   hr.new6:after {
    content: "AF";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.25em;
    border-top: 1px;
    background: rgb(255,255,255,0.0);
   }

   hr.new7 {
    height: 10px;
    border: 0;
    background: rgb(59, 100, 65);
    border-radius: 5px;
    box-shadow: inset 0 12px 12px -12px rgb(0,0,0,0.9);
   }

/* =============
   HR Styles END
   ================ */

/* =========================
    Background Images START
   ========================= */

    body, html {
      height: 100%;
      margin: 0;
    }

    .bg-home {
      background-image: url("../img/forest-3622519_1920.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .bg-sub {
      background-image: url("../img/trees-975091_1920.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

/* =======================
    Background Images END
   ======================= */

   /* ================================
    Heading and Paragraph Styles START
    ================================== */

    h1 {font-size: 6rem;}
    h2 {font-size: 5rem;}
    h3 {font-size: 4rem;}
    h4 {font-size: 3rem;}
    h5 {font-size: 2rem;}
    h6 {font-size: 1.6rem;}

    h1, h2, h3, h4, h5, h6 {
      font-family: "PT Serif", serif;
      font-weight: 400;
      font-style: normal;
      padding: 0;
      margin: 0;
    }

    p {
      font-family: "PT Serif", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
      line-height: 1.75;
      padding: 0;
      margin: 0 0 20px 0;
    }

/* =================================
   Heading and Paragraph Styles END
   ================================= */

/* ====================
   Button Styles START
   ==================== */

   .action_btn {
    background-color: #2e512e;
    box-shadow: 0px 0px 3px 3px rgb(0,0,0,0.5);
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    font-size: 1.2rem;
    color: #d2cc9e;
    padding: 8px 18px 8px 18px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
   }

   .action_btn:hover {
    background-color: #d2cc9e;
    color: #2e512e;
   }

/* ==================
   Button Styles END
   ================== */

/* =======================================
   Home Page and Sub Page Container START
   ======================================= */

   .homepage-container {
    background-color: rgb(255,255,255,0.4);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #2e512e;
   }

   .homepage h1 {
    margin: 150px 0 -10px 0;
   }

   .subpage-container {
    background-color: rgb(255,255,255,0.6);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #2e512e;
   }

   .form-container {
    width: 60%;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
   }

   .grid-container {
    display: flex;
    justify-content: center;
   }

   .grid-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
   }

   .grid-cards a:hover {
    background-color: #2e512e;
    border-radius: 10px;
   }

   .grid-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 59, 32, 0.75);
    color: #bbb68d;
    height: 100px;
    border-radius: 10px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
   }

/* =======================================
   Home Page and Sub Page Container END
   ======================================= */

/* =============================
   Subpage Content Styles START
   ============================= */

   .subpage-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
   }

   .photo {
    width: 100%;
    border-radius: 10px;
   }

/* ===========================
   Subpage Content Styles END
   =========================== */

/* ==========================
   Contact Page Styles START
   ========================== */

   form {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.75;
   }

   input[type=text], [type=email], textarea, select {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px 20px 0px;
    display: inline-block;
    border: 1.5px solid #2e512e;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.75;
   }

   textarea {
    height: 100px;
   }

   input[type=submit] {
    width: 100%;
    background-color: #2e512e;
    box-shadow: 0px 0px 3px 3px rgb(0,0,0,0.5);
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    font-size: 1.2rem;
    color: #d2cc9e;
    padding: 10px 10px;
    margin: 10px 0px 20px 0px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
   }

   input[type=submit]:hover {
    background-color: #d2cc9e;
    color: #2e512e;
   }

/* ========================
   Contact Page Styles END
   ======================== */

/* =============
   Navbar START
   ============= */

   .logo {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
   }

   .nav-container {
    background-color: #264326;
    box-shadow: 0px 0px 10px 10px rgb(0,0,0,0.4);
    font-size: 1.2rem;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
   }

   .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: auto;
   }

   .navbar ul{
    display: flex;
   }

   .nav-container .navbar {
    justify-content: space-between;
   }

   .navbar ul li {
    list-style-type: none;
   }

   .nav-container .navbar ul li {
    padding: 0;
    margin: 0 20px;
   }

   .navbar a {
    color: #618461;
    text-decoration: none;
   }

   .navbar a:hover {
    color: #d2cc9e;
   }

   @media screen and (min-width: 390px) and (max-width: 767px) {
    .nav-container{
      height: auto;
    }

    .nav-container .navbar {
      flex-direction: column;
    }
   }

/* ===========
   Navbar END
   =========== */


/* ====================
   Footer Styles START
   ==================== */

   .footer-container {
    background-color: #264326;
    height: 40px;
    width: 100%;
    padding: 20px 0px 10px 0px;
   }

   .footer-content {
    text-align: center;
    color: #618461;
    font-size: 0.8rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
   }

/* ==================
   Footer Styles END
   ================== */