/*=============
Font Styles START
=============== */

/* import font styles from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* Fonts Class for website */
.gantari {
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.red-hat-text {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

/*=============
Background Images START
=============== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg-home, .bg-sub {
  background-image: url("../img/forest-2942477_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/*=============
Link Style START
=============== */

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(230, 227, 227);
}

/*=============
Heading and Paragraph styles START
=============== */

h1 { font-size: 6rem; }
h2 { font-size: 5rem; }
h3 { font-size: 4rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0 0 20px 0;
}

/*=============
Button Styles START
=============== */

.action-btn {
  background-color: #54a754;
  box-shadow: 0px 0px 3px 3px rgba(253, 253, 253, 0);
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 7px 17px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #77b1de;
  color: azure;
}

/*=============
Navbar START
=============== */

.nav-container {
  background-color: #367933;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.057);
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: #82c9ff;
}

@media screen and (min-width: 390px) and (max-width: 787px) {
  .nav-container {
    height: auto;
  }
}

/*=============
Home Page and Sub Page Containers START
=============== */

.homepage-container {
  background-color: rgba(173, 91, 91, 0);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color:#ffffff ;
}

.homepage-container h1 {
  margin: 150px 0 -10px 0;
}

.subpage-container {
  background-color: rgba(147, 212, 236, 0.308);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*=============
Grid Layout START
=============== */

.grid-container {
  display: flex;
  justify-content: center;
}

.grid-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #80cbc7a9;
  color: #ffffff;
  height: 100px;
  border-radius: 10px;
  font-size: 1rem;
}

.grid-cards a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/*=============
Subpage Content Styles START
=============== */

.subpage-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.subpage-content h2 {
  font-size: 2rem;
  color: #ffffff;
  padding-bottom: 5px;
  margin-top: 1.5rem;
}

.subpage-content ul {
  list-style: none;
  padding-left: 0;
}

.subpage-content li {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.subpage-content li a {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0779ae;
  text-decoration: none;
}

.subpage-content li a:hover {
  text-decoration: underline;
}

.photo {
  width: 80%;
  border-radius: 20px;
}

/* FAQ Styles */
.subpage-content summary {
  padding: 20px;
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
}

.subpage-content summary:hover {
  background-color: #3e944384;
  border-radius: 10px;
}

.subpage-content details {
  background: #ffffffbe;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.subpage-container details p {
  padding: 10px;
  margin-left: 28px;
  line-height: 1.5;
  color: #789bc1;
}

/*=============
Contact Forms Styles START
=============== */

form {
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 1rem;  
  line-height: 1.75rem;
}

input[type=text], select {
  width: 100%;
  padding: 20px;
  margin: 10px 0px 20px 0px;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 1rem;  
  line-height: 1.75rem;
}

textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0px 20px 0px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Gantari", sans-serif;
}

input[type=email], select {
  width: 100%;
  padding: 20px;
  margin: 10px 0px 20px 0px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 1rem;  
  line-height: 1.75rem;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  resize: none;
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 1rem;  
  line-height: 1.75rem;
}

input[type=submit]{
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
 background-color: #448f45;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 7px 17px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;

}

/*=============
Contact Forms Styles END
=============== */

/*=============
Footer Styles START
=============== */

.footer-container {
  background-color: #3d683b;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  text-align: center;
  color: #f4f4f4;
  font-size: 0.8rem;
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
/*=============
Footer Styles END
=============== */
