/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #fff0f6; /* Very light pink */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#f89fcd, #fb3f97);
    border-radius: 10px;
    border: 3px solid #fff0f6;
}

::-webkit-scrollbar-thumb:hover {
    background: #fb3f97;
}
/* ==========================
    Background Images START
    ========================= */

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .bg-home {
        background-image: url(../img/valerialu-cherry-blossoms-6153384.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }   

    .bg-sub {
        background-image: url(../img/myriams-fotos-honey-bee-7404063_1920.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

/* =======================
    Background Images END
    ===================== */


/* ======================
    Font Styles START
    ===================== */

/* Import font styles from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Prata&display=swap');

::selection {
    background-color: #f89fcd;
    color: white
}

/* Font Classes for Website */
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* ======================
    Font Styles END
    ===================== */

/* ======================
    Link Styles START
    ===================== */

    a {
        text-decoration: none;
        color: lab(55.63% 68.26 -7.23);
    }

    a:hover {
        color: #FFFFFF;
    }

/* ======================
    Link Styles END
    ===================== */

/* ===================================
    Heading and Paragraph Styles START
    ================================== */

    h1 {
        font-size: clamp(3rem, 10vw, 6rem);
        font-family: "Prata", serif;
        color: #e884b3;
        text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5); 
        letter-spacing: -1px;
        line-height: 1.1;
        margin-bottom: 20px;
        transition: all 0.5s ease;
    }
    
    h2 {
        color: #fb3f97; 
        font-family: "Prata", serif;
        transition: color 0.3s ease;
    }

    h3 {
        color: #fb3f97;
        font-family: "Prata", serif;
        transition: color 0.3s ease;
    }

    h4 {
        color: #fb3f97; 
        font-family: "Prata", serif;
        transition: color 0.3s ease;
    }

    h5 {font-size: 2rem;}
    h6 {font-size: 1.6rem;}

    h1, h2, h3, h4, h5, h6 {
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        padding: 0;
        margin: 0;
    }

    p {
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.75;
        padding: 0;
        margin: 0 0 20px 0;
    }

    hr {
        border-top: 1px solid #fe9ed4;
    }

  /* ===================================
    Heading and Paragraph Styles END
    ================================== */
    
/* =====================
    Button Styles START
    =================== */

    .action-btn {
        background-color:lab(55.63% 68.26 -7.23);
        box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.2);
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-size: 1.2rem;
        color: #FFFFFF;
        padding: 7px 17px 7px 17px;
        border: none;
        border-radius: 7px;
        cursor: pointer; 
    }

    .action-btn:hover {
        background-color: #f89fcd;
        color: #FFFFFF;
    }

    /* =====================
    Button Styles END
    =================== */

    /* =====================
    Navbar Styles START
    =================== */

    .nav-container {
        background-color: #ffa7d6;
        box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.4);
        font-size: 1.2rem;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 60px;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }

    .navbar ul {
        display: flex;
    }

    .nav-container .navbar {
        justify-content: space-between;
    }

    .navbar ul li {
        list-style-type: none;
    }

    .navbar ul li a {
    position: relative;
    padding-bottom: 5px;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
}

    .nav-container .navbar ul li {
        padding: 0px;
        margin: 0 20px;
    }

    .nav-container h6 {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .navbar h2 {
        padding: 0px;
        margin: 0;
    }

    .navbar a {
        color: #fb3f97;
        text-decoration: none;
    }

    .navbar a:hover {
        color: #FFFFFF;
    }

    @media screen and (min-width: 390px) and (max-width: 787px) {
        .nav-container {
            height: auto;
        }

        .nav-container .navbar {
            flex-direction: column;
        }
    }

    /* =====================
    Navbar Styles END
    =================== */

    /* =========================
    Page Containers Styles START
    ============================ */

    .homepage-container {
        background-color:rgba(242, 82, 159, 0);
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .homepage-container h1 {
        margin: 150px 0 -10px 0;
    }

    .subpage-container {
    background-color: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    }

    .grid-container {
        display: flex;
        justify-content: center;
    }

    .grid-cards {
        display: grid;
        width: 100%;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        position: relative;
        overflow: hidden;
    }

    .grid-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fea8fa;
        color: #FFFFFF;
        height: 100px;
        border-radius: 10px;
        font-size: 1.2rem;
        background: rgba(131, 185, 236, 0.892);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: transform 0.3s ease;
        background: 0.3s ease;
    }

    .grid-card::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: rgba(255, 255, 255, 0.1);
        transform: rotate(45deg);
        transition: all 0.5s;
        pointer-events: none;
    }

    .grid-card:hover::before {
        left: 100%;
        top: 100%;
    }

    .grid-cards a:hover {
        background-color: #ee4fd6;
        border-radius: 10px;
        color: #FFFFFF;
        transform: translateY(-5px);
        background: rgb(246, 88, 154);
    }

    /* =========================
    Page Containers Styles END
    ============================ */

    /* =========================
    Subpage Content Styles START
    ============================ */

    .subpage-content {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .photo {
        width: 90%;
        border-radius: 60% 40% 70% 30% / 30% 60% 40% 70%;
        box-shadow: 0 15px 35px rgba(251, 63, 151, 0.2);
        transition: all 0.8s ease-in-out;
    }

    .photo:hover {
            border-radius: 40% 60% 30% 70% / 60% 30% 70% 40%; 
            transform: rotate(2deg) scale(1.02);
    }

    .subpage-content details {
        background:#f9f9f9;
        border: 1px solid #dddd;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .subpage-content summary {
        padding: 20px;
        font-weight: bold;
        font-size: 1.1 rem;
        color: #333333;
        cursor: pointer;
        outline: none;
        list-style-type: '🌸🐝';
    }

    .subpage-content summary:hover {
        background-color: #f89fcd;
        border-radius: 10px;
    }
    .subpage-content details p {
        padding: 10px;
        margin: 20px;
        line-height: 1.5;
        color:#333333;
    }

    .subpage-content h2 {
        font-size: 1.5rem;
        color: #333333;
        padding-bottom: 5px;
        margin-top: 1.5rem;
    }

    .subpage-content ul {
        list-style: none;
        padding-left: 0;
    }

    .subpage-content li {
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .subpage-content li a {
        font-weight: bold;
        font-size: 1.2rem;
        color: #f93f93;
    }

    .subpage-content li a {
        text-decoration: underline;
        color: #f04187;
    }




    /* =========================
    Subpage Content Styles END
    ============================ */

    /* =========================
    Contact Form Styles START
    ============================ */

    form { 
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.75;
    }

    input[type=text], select {
        width: 100%;
        padding: 20px;
        margin: 10px 0px 20px 0px;
        display: inline-block;
        border: 1px solid #f04187;
        border-radius: 10px;
        box-sizing:border-box;
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.75;
    }

    input[type=email] {
        width: 100%;
        padding: 20px;
        margin: 10px 0px 20px 0px;
        display: inline-block;
        border: 1px solid #f04187;
        border-radius: 10px;
        box-sizing:border-box;
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.75;
    }

    textarea{
        width: 100%;
        height: 150px;
        padding: 20px;
        margin: 10px 0px 20px 0px;
        box-sizing:border-box;
        border: 1px solid #f04187;
        border-radius: 10px;
        background-color:#f9f9f9;
        resize: none;
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.75;
    }

    input[type=submit] {
        width:100%;
        background-color:lab(55.63% 68.26 -7.23);
        box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.2);
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-size: 1.2rem;
        color: #FFFFFF;
        padding: 7px 17px 7px 17px;
        border: none;
        border-radius: 7px;
        cursor: pointer; 
    }

    input[type=submit]:hover {
        background-color: #ffa7d6;
        color: #FFFFFF;
    }
     /* =========================
    Contact Form Styles END
    ============================ */


    .footer-container {
        background-color: #fb83c1dd;
        height: 20px;
        width: 100%;
        padding: 20px 0px 10px 0px;
    }

    .footer-content {
        text-align: center;
        color: #FFFFFF;
        font-size: 1.0rem;
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
    }

    /* =========================
    Footer Styles END
    ============================ */



