/*==========================================
    Font Style START
    ======================================= */

    /* Import font style from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

    /* Font Classes for Website */
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



  /*==========================================
    Font Style END
    ======================================= */

 /*==========================================
    Background images START
    ======================================= */

body {
 display: flex;
 flex-direction: column;
 min-height: 100vh;

}

.bg-home {
  background-image: url("../img/sunset-7191546_1920.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.bg.sub {
  background-image: url("../img/sunset-7191546_1920.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

 /*==========================================
    Background images END
    ======================================= */



 /*==========================================
   Link style START
    ======================================= */

    a{
      text-decoration: none;
      color: whitesmoke
    
    }

    a:hover {
      color: rgb(142, 27, 9);
    }
    
/*==========================================
   Link style END
    ======================================= */

    /*==========================================
       Heading and Paragraph styles START
    ======================================= */

h1 {font-size: 6rem;}
h2 {font-size: 5rem;}
h3 {font-size: 4rem;}
h4 {font-size: 3rem;}
h5 {font-size: 2rem;}
h6 {font-size: 1.6rem;}

h1,h2,h3,h4,h5,h6{
font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    line-height: 1.75;
    padding: 0;
    margin: 0 0 20px 0;
}


    /*==========================================
      Heading and Paragraph styles END
    ======================================= */

       /*==========================================
    Button Styles START
    ======================================= */

    .action-btn {
      background-color: #000000;
      box-shadow: 0px 0px 3px 3px rbg(0,0,0,0.1);
      font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 7px 17px 7px 17px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;

 } 
.action-btn:hover {
  background-color: rgb(73, 45, 21);
  color: #ffffff;
}
       /*==========================================
     Button Styles END
    ======================================= */

  /*==========================================
    Navbar START
    ======================================= */

  .nav-container {
    background-color: #000000;
    box-shadow: 0px 0px 10px 10px rgba(196, 138, 91, 0.1);
    font-size: 1.2re,;
          font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  .navbar ul{
    display: flex;
  }

  .nav-container .navbar{
    justify-content: space-between;

  }

  .navbar ul li {
    list-style-type: none;
  }

  .nav-container .navbar ul li {
    padding: 0px;
    margin: 0 20px;
  }

  .navbar a {
    color: whitesmoke;
    text-decoration: none;
  }

  .navbar a:hover {
    color: rgb(136, 30, 14);
  }

  @media screen and (min-width: 390px) and (max-width: 787px) {
    .nav-container {
      height: auto;
    }

    .nav-container .navbar {
      flex-direction: column;     
    }
  }
 /*==========================================
          Navbar END
    ======================================= */

     /*==========================================
       Home Page and Sub Page Containers START
    ======================================= */
    
    .homepage-container {
  background-color: rgb(255, 255, 255, 0.0);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.homepage-container h1 { 
  margin: 150px 0 -10px 0;
}

    .subpage-container {
  background-color: rgba(255, 255, 255, 0.59);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}
.grid-container{
display: flex;
justify-content: center;
}

.grid-cards{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.709);
  color: white;
  height: 100px;
  border-radius: 10px;
  font-size: 1rem;
}
.grid-cards a:hover {
  background-color: rgba(86, 37, 23, 0.623);
  border-radius: 10px;
}


       /*==========================================
       Home Page and Sub Page Containers END
    ======================================= */



 /*==========================================
      Subpage Content Styles START
    ======================================= */

    .subpage-content{
      width: 80%;
      height: 100%;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      }
      .photo {
        width: 65%;
        border-radius: 10px;
      }
      .subpage-content details{
        background: #ffffff;
        border: 1px solid #800909;
        border-radius: 10px;
        margin-bottom: 5px;
      }
      .subpage-content summary{
        padding: 20px;
        font-weight: bold;
        font-size: 1.1rem;
        color: black;
        cursor: pointer;
        outline: none;
        list-style-type: ' ⭐️                                      ';
      }
      .subpage-content summary:hover{
        background-color: rgba(246, 191, 191, 0.51);
        border-radius: 10px;
        color: rgb(118, 14, 14);
      }
      .subpage-content details p{
        padding: 10px;
        margin-left: 20px;
        line-height: 1.5;
        color: #333333;
      }
.subpage-content h2{
  font-size: 1.5rem;
  color: #333333;
  padding-bottom: 5px;
  margin-top: 1.5rem;
}
.subpage-content ul{
  list-style: none;
  padding-left: 0;
}
.subpage-content li{
  background-color: rgba(255, 255, 255, 0.716);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.subpage-content li a {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(118, 14, 14);
  text-decoration: none;
}
.subpage-content li a:hover {
  text-decoration: underline;
  color:  rgb(175, 130, 130);
}
 /*==========================================
      Subpage Content Styles END
    ======================================= */

     /*==========================================
      Contact Form Styles START
    ======================================= */
    form {
      font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    line-height: 1.75;
    }

    input[type=text], select {
      width: 100%;
      padding: 20px;
      margin: 10px 0px 20px 0px;
      display: incline-block;
      border: 1px solid #000000;
      border-radius: 10px;
      box-sizing: border-box;
          font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    line-height: 1.75;
    }

    input[type=email] {
      width: 100%;
      padding: 20px;
      margin: 10px 0px 20px 0px;
      display: incline-block;
      border: 1px solid #000000;
      border-radius: 10px;
      box-sizing: border-box;
                font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    line-height: 1.75;
    }

    textarea {
      width:100%;
      height:150px;
      padding:20px;
      margin:10px 0px 10px 0px;
      box-sizing: border-box;
      border:1px solid #000000;
      border-radius:10px;
      background-color: white;
      resize: none;
                    font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    line-height: 1.75;
    }
    input[type=submit] {
    background-color: rgb(73, 45, 21);
      box-shadow: 0px 0px 3px 3px rbg(0,0,0,0.1);
      font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 7px 17px 7px 17px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
    }
    input[type=submit]:hover {
  background-color: #000000;
  color: #ffffff;
}
     /*==========================================
      Contact Form Styles END
    ======================================= */
    
    
    
/*==========================================
      Footer Styles START
    ======================================= */
.footer-container {
  background-color: rgba(0, 0, 0, 0.625);
  height: 40px;
  width: 100%;
  padding: 20px 0px 10px 0px;
}
.footer-content {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
    /*==========================================
       Footer Styles END
    ======================================= */
