 /* ========================
 Font styles start 
  ======================= */
 /* Import font styles from google */
   @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

   /* FONT HEADLINE AND NAVIBAR Robot CSS Classes */
   .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

   /* FONT BODY TEXT ROBOTO CSS Classes */
   .roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  /* ========================
 Font styles end 
  ======================= */
 /* ========================
 Link styles Start 
  ======================= */

  a {
    text-decoration: none;
  }

  /* ========================
 Link styles End
  ======================= */
  /* ========================
   Heading and paragraph styles start 
   ======================= */

   h1 {font-size: 6rem;}
   h2 {font-size: 5rem;}
   h3 {font-size: 4rem;}
   h4 {font-size: 3rem;}
   h5 {font-size: 2rem;}
   h6 {font-size: 1.6rem;}

   h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", san serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
   }

   p{
    font-family: "Roboto",san serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 20px 0;

   }
 
   /* ========================
   Heading and paragraph styles end 
   ======================= */

   /* ========================
   Button styles start 
   ======================= */

   .action_btn {
    background-color: rgb(150, 200, 213);
    box-shadow: 0px 0px 3px 3px rgba(52, 36, 36, 0.1);
    font-family:"Sansita", serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(207, 218, 237);
    padding: 7px 17px 7px 17px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
   }

   .action_btn:hover {
    background-color:rgb(144, 213, 219);
    color:rgb(93, 187, 218);
   }


  
   /* ========================
   Button styles end
   ======================= */

   /* ========================
   Background images start
   ======================= */


   body, html {
    height: 100%;
    margin: 0;
  }

  .bg-home {
background-image: url("../img/background-01-1920x1080.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  }
  .bg-sub {
    background-image: url("../img/background-01-1920x1080.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
      }
    
  /* ========================
   Background images end
   ======================= */

   /* =======================
   Navbar START
   ======================= */

    .nav-container {
    background-color: rgb(152, 205, 224);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.4);
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
   }

   .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
   }

   .navbar ul {
    display: flex;
   }

   .nav-container .navbar {
    justify-content: space-between;
   }
   .navbar h2 {
    padding: 0px;
    margin: 0;
   }
   .navbar ul li {
    list-style-type: none;
   }

   .nav-container .navbar ul li {
    padding: 0px;
    margin: 0 20px;

   }

   .navbar a {
    color: rgb(208, 239, 245);
    text-decoration: none;
   }

   .navbar a:hover {
    color: rgb(35, 159, 181);
   }

   @media screen and (min-width: 390px) and (max-width: 767px) {
    .nav-container {
      height: auto;
    }

    .nav-container .navbar {
      flex-direction: column;
    }
   }
  
    /* ========================
   Navbar END
   ======================= */

    /* ========================
    Home page and Sub Page Containers START
   ======================= */

   .homepage-container {
    background-color: rgb(247, 219, 252, 0.0);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

   }

   .homepage-container hi {
    margin: 150px 0 -10px 0;

   }

   .subpage-container {
    background-color:rgba(255, 255, 255, 0.9);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

   }

   .form-container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;

   }



   .grid-container {
    display: flex;
    justify-content: center;

   }

   .grid-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
   }

   .grid-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(77, 176, 209, 0.419);
    color: rgb(236, 244, 255);
    height: 100px;
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;

   }

   .grid-cards a:hover {
    background-color:rgb(36, 63, 88);
    border-radius: 10px;
   }



   /* ========================
    Home page and Sub Page Containers END
   ======================= */

   /* ========================
    Sub Page Content Styles START
   ======================= */

   .subpage-content {
    width: 80%;
    height: 100%; 
    margin: 0 auto;
    padding: 20px;
    text-align:center;

   }


   .photo {
    width: 70%;
    border-radius: 10px;

   }
   /* ========================
    Sub Page Content Styles END
   ======================= */


   /* ========================
   Contect Form Styles START
   ======================= */

   form {
   font-family: "Roboto", serif;
   font-weight: 300;
   font-style: normal;
   font-size: 1rem;
   line-height: 1.75;
    }


    input[type=text], select {
      width: 100%;
      padding: 20px 20px;
      margin: 10px 0px 10px 0px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      box-sizing: border-box;
      font-family: "Roboto", serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1rem;
      line-height: 1.75;
    }
    
    input[type=Email] {
      width: 100%;
      padding: 20px 20px;
      margin: 10px 0px 10px 0px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      box-sizing: border-box;
      font-family: "Roboto", serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1rem;
      line-height: 1.75;
    }

    textarea {
      width: 100%;
      height: 150px;
      padding: 20px 20px;
      margin: 10px 0px 10px 0px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      box-sizing: border-box;
      font-family: "Roboto", serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1rem;
      line-height: 1.75;
    }

    input[type=submit] {
     width: 100%;
     background-color: rgb(150, 200, 213);
     color: rgb(207, 218, 237);
     box-shadow: 0px 0px 3px 3px rgba(52, 36, 36, 0.1);
     font-family:"Sansita", serif;
     font-weight: 500;
     font-style: normal;
     text-decoration: none;
     font-size: 1.2rem;
     padding: 20px 20px;
     margin: 10px 0px 20px 0px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
      }

      input[type=submit]:hover{
      background-color:rgb(144, 213, 219);
      color:rgb(93, 187, 218);

      }
       
      

        

     

  


   



   
   /* ========================
    Contact Form Styles END
   ======================= */

   /* ========================
    Footer styles START
   ======================= */

   .footer-container {
    background-color:rgb(150, 200, 213);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.4);
    height: 40px;
    width: 100%;
    padding: 20px 0px 10px 0px;

   }

   .footer-content {
    text-align: center;
    color:rgb(211, 237, 247);
    font-size: 0.8 rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
   }

   /* ========================
    Footer styles END
   ======================= */
