/*  ==========================
    Font Styles START
    ========================== */

   /* Imported font styles from Google */
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

    /* FONT HEADLINE AND NAVBAR Ibm Plex Sans CSS Classes */

    .ibm-plex-sans-thin {
        font-family: "IBM Plex Sans", serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .ibm-plex-sans-extralight {
        font-family: "IBM Plex Sans", serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .ibm-plex-sans-light {
        font-family: "IBM Plex Sans", serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .ibm-plex-sans-regular {
        font-family: "IBM Plex Sans", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .ibm-plex-sans-medium {
        font-family: "IBM Plex Sans", serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .ibm-plex-sans-semibold {
        font-family: "IBM Plex Sans", serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .ibm-plex-sans-bold {
        font-family: "IBM Plex Sans", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .ibm-plex-sans-thin-italic {
        font-family: "IBM Plex Sans", serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .ibm-plex-sans-extralight-italic {
        font-family: "IBM Plex Sans", serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .ibm-plex-sans-light-italic {
        font-family: "IBM Plex Sans", serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .ibm-plex-sans-regular-italic {
        font-family: "IBM Plex Sans", serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .ibm-plex-sans-medium-italic {
        font-family: "IBM Plex Sans", serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .ibm-plex-sans-semibold-italic {
        font-family: "IBM Plex Sans", serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .ibm-plex-sans-bold-italic {
        font-family: "IBM Plex Sans", serif;
        font-weight: 700;
        font-style: italic;
      }
      
    /* FONT BODY TEXT Dm Sans CSS Classes */
    
    .dm-sans {
      font-family: "DM Sans", serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
    }

    /*  ==========================
        Font Styles END
        ========================== */
    /*  ==========================
        Link Styles START
        ========================== */

        a {
          text-decoration: none;
        }

    /*  ==========================
        Link Styles END
        ========================== */

    /*  ==========================
        Heading and Paragraph Styles START
       ========================== */

       h1 {font-size: 6rem;}
       h2 {font-size: 5rem;}
       h3 {font-size: 4rem;}
       h4 {font-size: 3rem;}
       h5 {font-size: 2rem;}
       h6 {font-size: 1.6rem;}

       h1, h2, h3, h4, h5, h6{
        font-family: "IBM Plex Sans", serif;
        font-weight: 500;
        font-style: normal; 
       }

       p {
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.5;
        padding: 0;
        margin: 0 0 20px 0;
       }

    /*  ==========================
        Heading and Paragraph Styles END
       ========================== */
     /*  ==========================
        Button styles START
       ========================== */

       .action_btn {
        background-color: #000000;
        box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.1);
        font-family: "IBM Plex Sans", serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        font-size: 1.2rem;
        color: #ffffff;
        padding: 7px 17px 7px 17px;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
       }

       .action_btn:hover {
        background-color: #5176c6;
        color:#000000;
       }

     /*  ==========================
        Button styles END
       ========================== */
     /*  ==========================
        Background Images START
       ========================== */

       body, html {
        height: 100%;
        margin: 0;
       }

       .bg-home {
        background-image: url("../img/background-01-1920x1080.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       }

       .bg-sub {
        background-image: url("../img/background-01-1920x1080.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       }

     /*  ==========================
        Background Images END
       ========================== */
     /*  ==========================
        Navbar START
       ========================== */

       .nav-container {
        background-color:#000000;
        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.4);
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", serif;
        font-weight: 500;
        font-style: normal;
        height: 60px;
        width: 100%;
        position: sticky;
        top: 0;
       }

       .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 90%;
        max-width: 1200px;
        margin: auto;
       }

       .navbar ul {
        display: flex;
       }

       .nav-container .navbar {
        justify-content: space-between;
       }

       .navbar h2 {
        padding: 0px;
        margin: 0;
       }

       .navbar ul li {
        list-style-type: none;
       }

       .nav-container .navbar ul li {
        padding: 0px;
        margin: 0 20px;
       }

       .navbar a {
        color: #ffffff;
        text-decoration: none;
       }

       .navbar a:hover {
        color: #5176c6;
       }

       @media screen and (min-width: 390px) and (max-width: 767px) {
        .nav-container {
          height: auto;
        }

        .nav-container .navbar {
          flex-direction: column;
        }
       }
              
     /*  ==========================
        Navbar END
       ========================== */
     /*  ==========================
        Home Page and Sub Page Containers START
       ========================== */

       .homepage-container {
        background-color: rgb(255, 255, 255, 0.0);
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
       }

       .homepage-container h1 {
        margin: 150px 0 -10px 0;
       }

       .subpage-container {
        background-color: rgb(255, 255, 255, 0.9);
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
       }

       .form-container {
        width: 60%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: left;
       }

       .grid-container {
        display: flex;
        justify-content: center;
       }

       .grid-cards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
       }

        .grid-card {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(0, 0, 0, 0.35);
          color: #ffffff;
          height: 100px;
          border-radius: 10px;
            font-family: "IBM Plex Sans", serif;
            font-weight: 400;
            font-style: normal;
        }

        .grid-cards a:hover {
          background-color: #666666;
          border-radius: 10px;
        }

       
     /*  ==========================
        Home Page and Sub Page Containers END
       ========================== */
     /*  ==========================
        Subpage Content Styles START
       ========================== */

       .subpage-content {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
       }

       .photo {
        width: 80%;
        border-radius: 10px;
       }

     /*  ==========================
        Subpage Content Styles END
       ========================== */

     /*  ==========================
        Contact Form Styles START
       ========================== */

       form {
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.75;
       }

       input[type=text], select {
        width: 100%;
        padding: 20px 20px;
        margin: 10px 0px 10px 0px;
        display: inline-block;
        border: 1px solid #000000;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 0.9rem;
        line-height: 1.75;
       }

       input[type=email] {
        width: 100%;
        padding: 20px 20px;
        margin: 10px 0px 10px 0px;
        display: inline-block;
        border: 1px solid #000000;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 0.9rem;
        line-height: 1.75;
       }

       textarea {
        width: 100%;
        height: 150px;
        padding: 20px 20px;
        margin: 10px 0px 10px 0px;
        display: inline-block;
        border: 1px solid #000000;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 0.9rem;
        line-height: 1.75;
       }

       input[type=submit] {
        width: 100%;
        background-color: #000000;
        color:#ffffff;
        box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.1);
        font-family: "IBM Plex Sans", serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 20px 20px;
        margin: 10px 0px 20px 0px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
       }

       input[type=submit]:hover {
        background-color: #5176c6;
        color: #000000
       }

     /*  ==========================
        Contact Form Styles END
       ========================== */
    /* ==========================
    Footer Styles START
    ========================== */

   .footer-container {
    background-color: #000000;
    height: 40px;
    width: 100%;
    padding: 20px 0px 10px 0px;
   }

   .footer-content {
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
   }

/* ==========================
   Footer Styles END
   ========================== */