/* ==========================
   Font styles START
   ========================== */

 /* Import font styles from Google Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

 /* FONT BODY TEXT Merriweather CSS classes */
 .merriweather-light {
   font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .merriweather-regular {
   font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .merriweather-bold {
   font-family: "Merriweather", serif;
   font-weight: 700;
   font-style: normal;
 }
 
 .merriweather-light-italic {
   font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: italic;
 }
 
 .merriweather-regular-italic {
   font-family: "Merriweather", serif;
   font-weight: 700;
   font-style: italic;
 }

 /* FONT HEADLINE TEXT Asap Condensed CSS classes */
 .asap-condensed-light {
   font-family: "Asap Condensed", sans-serif;
   font-weight: 300;
   font-style: normal;
 }
 
 .asap-condensed-regular {
   font-family: "Asap Condensed", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .asap-condensed-medium {
   font-family: "Asap Condensed", sans-serif;
   font-weight: 500;
   font-style: normal;
 }
 
 .asap-condensed-semibold {
   font-family: "Asap Condensed", sans-serif;
   font-weight: 600;
   font-style: normal;
 }
 
/* ==========================
   Font styles END
   ========================== */

/* ===================
Background Images START
===================*/

body, html {
  height: 100%;
  margin: 0;
}

.bg-home {
  background-image: url("../img/horizontal-screen-7595999_1280.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-sub {
  background-image: url("../img/horizontal-screen-7595999_1280.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ===================
Background Images END
===================*/

/* ===================
Link Styles START
===================*/

a{
  text-decoration: none;
  color: palevioletred;
}

a:hover {
  color: lightblue;
}

/* ===================
Link Styles END
===================*/

/* ===================
Heading and Paragraph styles START
===================*/

h1 {font-size: 6rem}
h1 {font-size: 5rem}
h1 {font-size: 4rem}
h1 {font-size: 3rem}
h1 {font-size: 2rem}
h1 {font-size: 1.6rem}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
   padding: 0;
   margin: 0;
}

p {
  font-family: "Asap Condensed", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 1rem;
   line-height: 1.75;
   padding: 0;
   margin: 0 0 20px 0;
}

/* ===================
Heading and Paragraph styles END
===================*/

/* ===================
Button styles START
===================*/

.action-btn{
  background-color: #000000;
  box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.1);
  font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
   text-decoration: none;
   font-size: 1.2rem;
   color: #ffffff;
   padding: 7px 17px 7px 17px;
   border: none;
   outline: none;
   border-radius: 5px;
   cursor: pointer;
}

.action-btn:hover {
  background-color: lightblue;
  color: #000000;
}

/* ===================
Button styles END
===================*/

/* ===================
Navbar START
===================*/

.nav-container {
  background-color: #000000;
  box-shadow: 0px 0px 10px 10px rgb(194, 220, 220);
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
   height: 60px;
   width: 100%;
   position: sticky;
   top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  max-width: 1200;
  margin: auto;
}

.navbar ul {
  display: flex;
}

.nv-container .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
}

.nav-container .navbar ul li {
  padding: 0px;
  margin: 0 20px;
}

.nav-container h6 {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar h2 {
  padding: 0px;
  margin: 0;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: lightblue;
}
 
@media screen and (mind-width: 390px) and (max-width: 787px) {
  .nav-container{
    height: auto;
  }

  .nav-container .navbar {
    flex-direction: column;
  }
}

/* ===================
Navbar END
===================*/

/* ===================
Home Page and Sub Page Containers START
===================*/

.homepage-container {
  background-color: rgb(255, 255, 255, 0.0);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.homepage-container h1 {
  margin: 150px 0 -10px 0;
}


.subpage-container {
  background-color: rgb(255, 255, 255, 0.3);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: #ffffff;
  height: 100px;
  border-radius: 10px;
  font-size: 1rem;
}

.grid-cards a:hover {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* ===================
Home Page and Sub Page Containers END
===================*/

/* ===================
Subpage Content Styles START
===================*/

.subpage-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.photo {
  width: 53%;
  border-radius: 10px;
}

.subpage-content h2 {
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 5px;
  margin-top: 1.5rem;
}

.subpage-content ul {
  list-style: none;
  padding-left: 0;
}

.subpage-content li {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.subpage-content li a {
  font-weight: bold;
  font-size: 1.2rem;
  color:lightpink;
  text-decoration: none;
}

.subpage-content li a:hover {
  text-decoration: underline;
  color: lightblue;
}

/* ===================
Subpage Content Styles END
===================*/


/* ===================
Contact Form Styles START
===================*/

form {
  font-family: "Asap Condensed", sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 1rem;
   line-height: 1.75;
}

input[type=text], select {
  width: 100%;
  padding: 20px;
  margin: 10px 0px 20px 0px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.75;
}

input[type=email] {
  width: 100%;
  padding: 20px;
  margin: 10px 0px 20px 0px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.75;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 20px;
  margin: 10px 0px 20px 0px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgb(236, 196, 202);
  resize: none;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.75;
}

input[type=submit] {
  width: 100%;
  background-color: #000000;
  box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.1);
  font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
   text-decoration: none;
   font-size: 1.2rem;
   color: #ffffff;
   padding: 7px 17px 7px 17px;
   outline: none;
   border-radius: 5px;
   cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(236, 196, 202);
  color: #000000;
}


/* ===================
Contact Form Styles END
===================*/


/* ===================
Footer Styles START
===================*/

.footer-container {
  background-color: #000;
  height: 40px;
  width: 100%;
padding: 20px 0px 10px 0px
}

.footer-content {
 text-align: center;
 color: #ffffff;
 font-size: 0.8rem;
 font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
}


/* ===================
Footer Styles END
===================*/