/* ====================================
    Font styles START
    ========================= */ 

/* Import font syles from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Font Menu Text CSS Class */
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
/* Font Body Text CSS Classes */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

/* ====================================
   Font styles END
   =============================== */ 


/* ===============================
   Link Styles START
   ================================= */


    a {
      text-decoration: none;
      color: #ff6868;
    }

    a:hover {
      color: #808080
    }

/* ===============================
   Link Styles END
   ================================= */



/* ===============================
   HR Styles START
   ================================= */


   hr.new1 {
     border-top: 1px solid rgb(184, 183, 183);
   }

   hr.new2 {
     border-top: 1px dashed red;
   }

   hr.new3 {
     border-top: 1px dotted red;
   }

   hr.new4 {
     height: 1px;
     border: 0px;
     background: red
   }

   hr.new5 {
     height: 10px;
     border: 0;
     background: red;
     border-radius: 5px;
   }

   hr.new6:after {
     content: "PS";
     display: inline-block;
     position: relative;
     top: -0.7em;
     font-size: 1.5em;
     padding: 0 0.25em;
     background: rgba(255, 255, 255, 0.3)
   }
   
   hr.new7 {
    height: 10px;
    border: 0;
    background: rgb(195, 195, 195);
    border-radius: 5px;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.3)
   }





   /* ===============================
   HR Styles END
   ================================= */


/* =============================
   Background Images START
   ================================ */

   body, html {
     height: 100%;
     margin: 0%;
  }

   .bg-home {
     background-image: url("../img/sunset-4086848_1920.jpg");
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
   }

   .bg-sub {
    background-image: url("../img/sunrise-4926649_1920.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

   
/* =============================
   Background Images END
   =============================== */

/* =============================
   Heading and Paragraph Styles START
   =============================== */

   h1 {font-size: 6rem;}
   h2 {font-size: 5rem;}
   h3 {font-size: 4rem;}
   h4 {font-size: 3rem;}
   h5 {font-size: 2rem;}
   h6 {font-size: 1.6rem;}

   h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
   }

   p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.75;
    padding: 0;
    margin: 0 0 20px 0;
   }


/* =============================
   Heading and Paragraph Styles END
   =============================== */

/* =============================
   Button Styles START
   =============================== */

   .action_btn {
     background-color: #fa9393;
     box-shadow: 0px 0px 3px 3px rgba(34, 34, 34, 0.6);
     font-family: "Boldonse", system-ui;
     font-weight: 400;
     font-style: normal;
     color: #ffffff;
     padding: 7px 17px 7px 17px;
     border: none;
     outline: none;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: none;
    }

    .action_btn:hover {
     background-color: #ffffff;
     color: #fa9393;
    }

/* =============================
   Button Styles END
   =============================== */

/* =============================
   Home Page and Sub Page Container START 
   =============================== */

   .homepage-container {
     background-color: rgb(255,255,255,0.5);
     width: 90%;
     max-width: 1500px;
     margin: 0 auto;
     padding: 20px;
     text-align: center; 
     color: #000000
   }

   .homepage h1 {
     margin: 150px 0 -10px  0;
   }

   .subpage-container {
    background-color: rgb(255,255,255,0.7);
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
    color: #000000
  }

   .form-container {
    width: 60%;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
   }

   .grid-container {
    display: flex;
    justify-content: center;
   }

   .grid-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
   }


   .grid-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,174,174,0.75);
    color: #ffffff;
    height: 100px;
    border-radius: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
   }

   .grid-cards a:hover {
    background-color: #f67d7d;
    border-radius: 10px;
   }



/* =============================
   Home Page and Sub Page Container END 
   =============================== */

/* ==============================
   Subpage Content Styles START
   ===============================*/
   
    .subpage-content {
     width: 80%;
     height: 100%;
     margin: 0 auto;
     padding: 20px;
     text-align: center;
    }

    .photo {
      width: 100%;
      border-radius: 10px;
    }


/* ==============================
    Subpage Content Styles END
    ===============================*/

/* ==============================
    Contact Page Styles START
    ===============================*/

    form {
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1rem;
      line-height: 2;
    }

    input[type=text], [type=email], textarea, select {
      width: 100%;
      padding: 20px 20px;
      margin: 10px 0px 20px 0px;
      display: inline-block;
      border: 1px solid #000000;
      border-radius: 5px;
      box-sizing: border-box;
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 0.8rem;
      line-height: 1.75;

    }

    textarea {
      height: 100px
    }

    input[type=submit] {
     width: 100%;
     background-color: #fa9393;
     box-shadow: 0px 0px 3px 3px rgba(34, 34, 34, 0.6);
     font-family: "Boldonse", system-ui;
     font-weight: 400;
     font-style: normal;
     color: #ffffff;
     padding: 10px 10px;
     margin: 10px 0px 20px 0px;
     border: none;
     outline: none;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: none;
    }

    input[type=submit]:hover {
       background-color: #ffffff;
       color: #fa9393;
    }


/* ==============================
    Contact Page Styles END
    ===============================*/

/* =============================
   Navbar START 
   =============================== */

    .logo {
      font-family: "Boldonse", system-ui;
      font-weight: 400;
      font-style: normal;
    }

    .nav-container {
      background-color: #fa9393;
      box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
      font-size: 1.2rem;
      font-family: "Boldonse", system-ui;
      font-weight: 400;
      font-style: normal;
      height: 60px;
      width: 100%;
      position: sticky;
      top: 0;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }

    .navbar ul {
      display: flex;
    }

    .nav-container .navbar {
      justify-content: space-between;
    }

    .navbar ul li {
      list-style-type: none;
    }

    .nav-container .navbar ul li {
      padding: 0;
      margin: 0 20px;
    }

    .navbar a {
      color: #ffd1d1;
      text-decoration: none;
    }

    .navbar a:hover {
      color: #ffffff;
    }

    @media screen and (min-width: 390px) and (max-width: 767px) {
      .nav-container {
        height: auto;
      }


      .nav-container .navbar {
        flex-direction: column;
      }
    }

/* =============================
   Navbar END 
   =============================== */  

/* ============================
   Footer Styles START
   ============================ */ 

    .footer-container {
     background-color: #fa9393;
     height: 40px;
     width: 100%;
     padding: 20px 0px 10px 0px;
    }

    .footer-content {
     text-align: center;
     color: #ffffff;
     font-size: 0.8rem;
     font-family: "Ubuntu", sans-serif;
     font-weight: 300;
     font-style: normal;
    }

/* ============================
   Footer Styles END
   ============================ */ 
