/* ===========================
    Font Styles START
    ====================== */

/* Import font styles from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Font Menu Text CSS Classes */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Font Body Text CSS Class */
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }  

/* ========================
    Font Styles END
    ======================= */

/* ========================
    Link Styles START
  ========================= */

    a {
      text-decoration: none;
      color: #e05aa8;
    }

    a:hover {
      color: #d4008d;
    }
/* ========================
    Link Styles END
  ========================= */

/* ========================
    HR Styles START
  ========================= */

    hr.new1 {
      border-top: 1px solid rgb(0, 0, 0);
    }

    hr.new2{
      border-top: 1px dashed rgb(0, 0, 0);
    }

    hr.new3 {
      border-top: 1px dotted rgb(0, 0, 0);
    }
    
    hr.new4 {
      height: 1px;
      border: 0px;
      background: rgb(0, 0, 0);
    }

    hr.new5 {
      height: 10px;
      border: 5px;
      background: rgb(0, 0, 0);
      border-radius: 5px;
    }

    hr.new6:after {
      content: "$";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.5em;
      padding: 0 0.25em;
      border-top: 1px;
      background: rgb(255,255,255,0.0);
    }


/* ========================
    HR Styles END
  ========================= */

/* =========================
  Background Images START
  ========================== */

  body, html {
    height: 100%;
    margin: 0;
  }

  .bg-home {
    background-image: url("../img/flowers-4143241_1920.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-sub {
    background-image: url("../img/flowers-4143241_1920.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

/* ==========================
  Background Images END
  =========================== */

/* ==========================
  Heading and Paragraph Styles START
  =========================== */

  h1 {font-size: 6rem;}
  h2 {font-size: 5rem;}
  h3 {font-size: 4rem;}
  h4 {font-size: 3rem;}
  h5 {font-size: 2rem;}
  h6 {font-size: 1.6rem;}

  h1, h2, h3, h4, h5, h6 { 
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
  }

  p {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.75;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
/* ==========================
  Heading and Paragraph Styles END
  =========================== */

/* ==========================
  Button Styles START
  =========================== */

  .action_btn {
    background-color: #bf327b;
    box-shadow: 0px 0px 3px 3px rgb(0,0,0,0,6);
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    text-decoration: none;
    color: #d193b9;
    padding: 7px 17px 7px 17px; 
    border: none; 
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .action_btn:hover {
    background-color: #d193b9;
    color: #bf327b; 
  }

/* ==========================
  Button Styles END
  =========================== */

/* ==========================
  Home Page and Sub Page Container START
  =========================== */

  .homepage-container {
    background-color: rgb(255,255,255,0.0);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff
  }

  .homepage h1 {
    margin: 150px 0 -10px 0;
  }

  .subpage-container {
    background-color: rgb(255,255,255,0.9);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #5b5757;
  }

  .form-container {
    width: 60%;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

    .grid-container {
      display: flex; 
      justify-content: center;
    }

    .grid-cards {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
    }

    .grid-card {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(0,0,0,0.4);
      color: #ffffff;
      height: 100px;
      border-radius: 10px;
      font-family: "PT Serif", serif;
      font-weight: 400;
      font-style: normal;
    }

    .grid-cards a:hover {
      background-color: #999999;
      border-radius: 10px;
    }

/* ==========================
  Home Page and Sub Page Container END
  =========================== */

/* ==========================
  Subpage Content Style START
  =========================== */

  .subpage-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .photo {
    width: 100%;
    border-radius: 10px;
  }

/* ==========================
  Subpage Content Style END
  =========================== */

/* ==========================
  Contact Page Styles START
  =========================== */

  form {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.75;
  }

  input[type=text], [type=email], textarea, select {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0px 20px 0px;
    display: inline-block;
    border: 1px solid #000000; 
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.75;
  }

  textarea {
    height: 100px;
  }

  input[type=submit] {
    width: 100%;
    background-color: #bf327b;
    box-shadow: 0px 0px 3px 3px rgb(0,0,0,0,6);
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    text-decoration: none;
    color: #d193b9;
    padding: 10px 10px; 
    margin: 10px 0px 20px 0px;
    border: none; 
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #d193b9;
    color: #bf327b; 
  }
  

/* ==========================
  Contact Page Styles END
  =========================== */

/* ==========================
  Navbar START
  =========================== */

  .logo {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }

  .nav-container{
    background-color: #bf327b;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.4);
    font-size: 1.2rem;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  .navbar ul {
    display: flex;
  }

  .nav-container .navbar {
  justify-content: space-between;
  }

  .navbar ul li {
  list-style-type: none;
  }

  .nav-container .navbar ul li {
  padding: 0;
  margin: 0 20px;
  }

  .navbar a {
  color: #ff94d1;
  text-decoration: none;
  }

  .navbar a:hover {
  color: #ffffff;
  }

  @media screen and (min-width: 390px) and (max-width: 767px) {
    .nav-container {
      height: auto;
    }

    .nav-container .navbar {
      flex-direction: column;
    }
  }

/* ==========================
  Navbar END
  =========================== */

/* ==========================
  Footer Style START
============================= */

  .footer-container {
    background-color: #bf327b;
    height: 40px;
    width: 100%;
    padding: 20px 0px 10px 0px;
  }

  .footer-content {
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }

